<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager| Create Attendant Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/Add-product.css" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

</head>

<body>
    <div nav-bar>
        <ul>

            <li class="app_name"><a class="a" href="#">Store Manager</a></li>

            <li class="username right">
                <a class="a" href="#"><img src="../assets/img/user_profile.png"></a>
            </li>
            <li class="sign-out right">
                <a class="a" href="index.html"> <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="username right"><a class="a" href="#">Admin</a></li>
            <li class="app_name right"><a class="a" href="create-attendant.html">Add Attendant</a></li>
            <li class="app_name right"><a class="a" href="Add-product.html">Add Product</a></li>
            <li class="app_name right"><a class="a" href="sale-records-admin.html">Sale Records</a></li>
            <li class="app_name right"><a class="a" href="products-available-admin.html">Products</a></li>


        </ul>
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="app-name">
                <h2>Add Product</h2>
            </div><br>
            <form>
                <label>Select Product Category:</label>
                <select>
                    <option>Smartphones</option>
                    <option>Toiletries</option>
                    <option>Food and Groceries</option>
                    <option>Men's Fashion</option>
                    <option>Women's Fashion</option>
                    <option>Fruits</option>
                </select>
                <input type="text" placeholder="Product Name">

                <input type="text" placeholder="Unit Price">
                <textarea> Description </textarea>
                <button>Add Product</button>
            </form>
        </div>
    </div>

</body>

</html>