<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager|Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/index.css" />
</head>

<body class="body">
    <div class="login_nav">
        <ul>

            <li class="app_name"><a href="#">Store Manager</a></li>

        </ul>
    </div><br>
    <div class="flex-container container">
        <div class="app-name">
            <h2>Store Manager/Attendant</h2>
        </div><br>
        <div class="Login-container">
            <h3>Login</h3>
            <form action="make-sale.html">
                <input type="email" required placeholder="Email">
                <input type="password" required placeholder="Password">

                <button id="login_btn" href="make-sale.html">Login</button>
            </form>
            <p class="h4">Login as an<a class="login_link" href="admin-login.html"> Admin</a></p>

        </div>
    </div>
</body>

</html>