<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager| Make sale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/make-sale.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
</head>

<body>
    <div class="login_nav">
        <ul>

            <li class="app_name"><a href="#">Store Manager</a></li>

            <li class="username right">
                <a href="#"><img src="../assets/img/user_profile.png"></a>
            </li>
            <li class="sign-out right">
                <a href="index.html"> <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="username right"><a href="#">Jonas</a></li>
            <li class="app_name right"><a href="sale-records.html">Sale records</a></li>
            <li class="app_name right"><a href="products-available.html">Products</a></li>

        </ul>
    </div><br>
    <div class="flex-container-grid">
        <div class="left-container-box">
            <input class="input-search" type="text" placeholder="Search for product">
            <button class="search-btn"><i class="fas fa-search"></i></button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>


            <button class="add-cart-btn main">Add to Cart</button>
            <button class="cancel-btn">Cancel</button><br><br>
            <hr class="hr">
        </div>
        <div class="right-container-box">

            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                </tr>
                <tr>
                    <td>Sugar</td>
                    <td>2,000</td>
                    <td><input class="number" type="number"></td>
                    <td>4,000</td>
                </tr>
                <tr>
                    <td>Soap</td>
                    <td>1,000</td>
                    <td><input class="number" type="number"></td>
                    <td>1,000</td>
                </tr>
            </table>
            <br>
            <h3>Total: 3,000</h3>
            <br>
            <button class="sale-btn">Sale</button>
            <button class="cancel-btn">Cancel</button>
        </div>

    </div>

</body>

</html>