<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager| Products available</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/products-available.css" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

</head>

<body>
    <div nav-bar>
        <ul>

            <li class="app_name"><a class="a" href="#">Store Manager</a></li>

            <li class="username right">
                <a class="a" href="#"><img src="../assets/img/user_profile.png"></a>
            </li>
            <li class="sign-out right">
                <a class="a" href="index.html"> <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="username right"><a class="a" href="#">Jonas</a></li>
            <li class="app_name right"><a class="a" href="sale-records.html">Sale records</a></li>
            <li class="app_name right"><a class="a" href="make-sale.html">Make Sale</a></li>

        </ul>
    </div><br>
    <div class="container">
        <div class="inner-container">
            <h2>Products available</h2>
            <div>

                <ol>
                    <h4>Computing</h4>
                    <li><a href="product-details.html">Toshiba Laptop</a></li><br>
                    <li><a>Dell Laptop</a></li>
                </ol>
            </div><br>

            <div>

                <ol>
                    <h4>Smart phones</h4>
                    <li><a>Tecno Camon CX</a></li><br>
                    <li><a>Iphone Xs</a></li>
                </ol>
            </div><br>
            <div>

                <ol>
                    <h4>Toiletries</h4>
                    <li><a>Mouth wash</a></li><br>
                    <li><a>Toilet paper</a></li>
                </ol>
            </div><br>
            <div>


                <ol>
                    <h4>Games and Consoles</h4>
                    <li><a>Xbox one X</a></li><br>
                    <li><a>PS4</a></li><br>
                    <li><a>Xbox one S</a></li><br>
                    <li><a>Nintendo Wii U</a></li>
                </ol>
            </div>
        </div>
    </div>

</body>

</html>