<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager| Sale Records</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/sale-records.css" />
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

</head>

<body>
    <div nav-bar>
        <ul>

            <li class="app_name"><a class="a" href="#">Store Manager</a></li>

            <li class="username right">
                <a class="a" href="#"><img src="../assets/img/user_profile.png"></a>
            </li>
            <li class="sign-out right">
                <a class="a" href="index.html"> <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="username right"><a class="a" href="#">Admin</a></li>
            <li class="app_name right"><a class="a" href="create-attendant.html">Add Attendant</a></li>
            <li class="app_name right"><a class="a" href="Add-product.html">Add Product</a></li>

            <li class="app_name right"><a class="a" href="products-available-admin.html">Products</a></li>


        </ul>
    </div><br><br>
    <div class="container">
        <div class="inner-container">
            <h2>Sale Records</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Date and Time</th>
                </tr>
                <tr>
                    <td>
                        Jonas
                    </td>
                    <td>

                        Toshiba Laptop
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        30,0000,000
                    </td>
                    <td>9th.Oct.2018</td>
                </tr>
                <tr>
                    <td>
                        Jonas
                    </td>
                    <td>

                        Dell Laptop
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        3,0000,000
                    </td>
                    <td>9th.Oct.2018</td>
                </tr>
                <tr>
                    <td>
                        Jonas
                    </td>
                    <td>

                        Samsung Galaxy J7
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        1,600,000
                    </td>
                    <td>9th.Oct.2018</td>
                </tr>
                <tr>
                    <td>
                        Jonas
                    </td>
                    <td>

                        Bata shoes
                    </td>
                    <td>
                        1 pair
                    </td>
                    <td>
                        100,000
                    </td>
                    <td>9th.Oct.2018</td>
                </tr>
                <tr>
                    <td>
                        Jonas
                    </td>
                    <td>

                        Hp Laptop
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        1,800,000
                    </td>
                    <td>9th.Oct.2018</td>
                </tr>
            </table><br><br>


        </div>
    </div>
</body>

</html>