body {
    margin: 0px;
    background-image: url(../img/new.jpg);
}

.container {
    background-color: white;
}

@media (min-width: 600px) {
    .container {
        margin: 3% 35% 10% 35%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        margin: 3% 10% 10% 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .3em;
}

li {
    float: left;
}

.a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a:hover {
    background-color: #0066CC;
}

.right {
    float: right;
}

.username a {
    color: rgb(199, 199, 199);
}

.username a:hover {
    background-color: #333;
    margin-top: 0px;
}

img {
    height: 20px;
    width: auto;
    border-radius: 9px;
}

li a:hover {
    background-color: #0066CC;
    margin-top: 3px;
}

.sign-out a:hover {
    background-color: rgb(46, 44, 44);
}

input {
    display: block;
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 20px 25px 20px 25px;
}

input:hover {
    border: 1px solid rgba(3, 121, 255, 0.877);
}

input:visited {
    border: 2px solid rgba(3, 121, 255, 0.877);
}

button {
    background-color: #0066CC;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    width: 80%;
    margin: 20px 25px 20px 25px;
}

button:hover {
    background-color: rgb(74, 161, 248);
}

.app-name {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 0px;
}

h2 {
    text-align: center;
    color: rgb(3, 80, 124);
}

.logout {
    width: auto;
    height: 23px;
    border-radius: 0px !important;
}