body {
    background-image: url(../img/new.jpg);
    margin: 0px;
}

.flex-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:910px) {
    .flex-container-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .left-container-box {
        background-color: rgb(255, 255, 255);
        margin-left: 10%;
        margin-right: 10%;
        padding: 8px;
    }
    .main {
        width: 40% !important;
    }
}

.left-container-box {
    background-color: rgb(255, 255, 255);
    margin-left: 1%;
    margin-right: 1%;
    padding: 8px;
}

.right-container-box {
    background-color: rgb(255, 255, 255);
    margin-right: 1%;
    margin-left: 1%;
    padding: 15px;
}

.right {
    float: right;
}

.username a {
    color: rgb(199, 199, 199);
}

.username a:hover {
    background-color: #333;
    margin-top: 0px;
}

img {
    height: 20px;
    width: auto;
    border-radius: 9px;
}

li a:hover {
    background-color: #0066CC;
    margin-top: 3px;
}

.input-search {
    width: 70%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 0px;
    display: inline;
}

.search-btn {
    padding: 12px 20px;
    border: 1px solid rgb(10, 103, 179);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(17, 118, 219);
    margin-left: 0px;
}

.search-btn:hover {
    background-color: rgb(44, 92, 141);
}

.fa-search {
    color: white;
}

.add-cart-btn {
    width: 30%;
    padding: 12px 20px;
    border: 1px solid rgb(10, 103, 179);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(17, 118, 219);
    color: white;
    margin-left: 20px;
    margin-bottom: 4px;
}

.sale-btn {
    width: 20%;
    padding: 12px 20px;
    border: 1px solid rgb(10, 103, 179);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(17, 118, 219);
    color: white;
    margin-left: 20px;
    margin-bottom: 4px;
}

.add-cart-btn:hover {
    background-color: rgb(10, 89, 168);
}

.cancel-btn {
    width: 20%;
    padding: 12px 20px;
    border: 1px solid rgb(214, 40, 84);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(219, 17, 61);
    color: white;
    margin-left: 20px;
}

.cancel-btn:hover {
    background-color: rgb(179, 12, 48);
}

tr:nth-child(even) {
    background-color: rgba(8, 184, 111, 0.027);
}

tr:nth-child(odd) {
    background-color: rgba(128, 111, 111, 0.11);
}

th,
td {
    padding: 20px;
}

h3 {
    text-align: left !important;
}