    body {
        margin: 0px;
        background-image: url(../img/new.jpg);
    }
    
    .container {
        background-color: white;
        padding: 20px;
        margin-right: 25%;
        margin-left: 25%;
    }
    
    @media (max-width:670px) {
        .container {
            background-color: white;
            padding: 20px;
            margin-right: 15%;
            margin-left: 15%;
        }
    }
    
    @media (max-width:490px) {
        .container {
            background-color: white;
            padding: 20px;
            margin-right: 5%;
            margin-left: 5%;
        }
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        opacity: .3em;
    }
    
    li {
        float: left;
    }
    
    .a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .a:hover {
        background-color: #0066CC;
    }
    
    ol {
        list-style-type: none;
    }
    
    ol li a {
        color: rgb(73, 73, 73);
        margin-bottom: 10px;
        text-decoration: none;
    }
    
    ol li a:hover {
        background-color: rgba(14, 166, 212, 0.178);
        padding: 4px;
        border-radius: .2em;
        cursor: pointer;
    }
    
    .inner-container {
        margin-left: 100px;
    }
    
    .right {
        float: right;
    }
    
    .username a {
        color: rgb(199, 199, 199);
    }
    
    .username a:hover {
        background-color: #333;
        margin-top: 0px;
    }
    
    img {
        height: 20px;
        width: auto;
        border-radius: 9px;
    }
    
    li a:hover {
        background-color: #0066CC;
        margin-top: 3px;
    }
    
    .sign-out a:hover {
        background-color: rgb(46, 44, 44);
    }
    
    h2 {
        color: rgb(8, 69, 119);
    }
    
    .logout {
        width: auto;
        height: 23px;
        border-radius: 0px !important;
    }