body {
    margin: 0px;
    background-image: url(../img/new.jpg);
}

.container {
    background-color: white;
    padding: 20px;
    margin-right: 15%;
    margin-left: 25%;
}

.inner-container {
    margin-left: 50px;
}

@media (min-width:600px) {
    .container {
        background-color: white;
        padding-right: 45px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 35%;
        margin-left: 25%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .3em;
}

li {
    float: left;
}

.a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a:hover {
    background-color: #0066CC;
}

.right {
    float: right;
}

.username a {
    color: rgb(199, 199, 199);
}

.username a:hover {
    background-color: #333;
    margin-top: 0px;
}

img {
    height: 20px;
    width: auto;
    border-radius: 9px;
}

li a:hover {
    background-color: #0066CC;
    margin-top: 3px;
}

.sign-out a:hover {
    background-color: rgb(46, 44, 44);
}

h3 {
    color: rgb(12, 106, 182);
    text-align: center;
}

h4 {
    color: rgb(6, 61, 116);
}

p {
    color: rgb(94, 93, 93);
}

.pdt-name {
    border: 2px solid rgba(41, 88, 216, 0.185);
    border-radius: .4em;
    padding-left: 5%;
    margin-bottom: 10px;
}

.pdt-desc {
    border: 2px solid rgba(41, 88, 216, 0.185);
    border-radius: .4em;
    padding-left: 5%;
    margin-bottom: 10px;
}

.pdt-price {
    border: 2px solid rgba(41, 88, 216, 0.185);
    border-radius: .4em;
    padding-left: 5%;
    margin-bottom: 10px;
}

.pdt-qty {
    border: 2px solid rgba(41, 88, 216, 0.185);
    border-radius: .4em;
    padding-left: 5%;
    margin-bottom: 10px;
}